* {
    -border: 1px red solid;
}
body, html{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-wrap: break-word;
    width: 100%;
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    height: 120vh;
}
::-webkit-scrollbar {
    width: 12px;          
}
  
::-webkit-scrollbar-track {
    background: transparent;        
}
  
::-webkit-scrollbar-thumb {
    border-radius: 20px;       
    border: 3px solid;
    width: 1px;
    background-color: white;
}
.inicio_home{
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    height: 100vh;
    align-items: center;
}
.big_title{
    margin-top: 70px;
    margin-bottom: 0px;
    padding-top: 300px;
    font-size: 80px;
    text-shadow: 5px 5px 0px black;
}
.slogan{
    text-shadow: 3px 3px 5px black;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    
}
.razerbtnacess{
    border: 1px white solid;
    padding: 13px 30px;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 3px 3px 5px black;
    margin-left: 30px;
    transition: 0.3s;
}
.razerbtnacess:hover{
    border-radius: 20px;
    background-color: black;
    border-color: black;
}
header{
    display: flex;
    position: fixed;
    box-shadow: 0px 2px 0px #01F5B2;
    width: 100%;
    background-color: black;
    transition: 0.3s;
}
header:hover{
    background-color: rgb(53, 53, 53);
    box-shadow: 0px 2px 0px red;
}
.div-menu{
    margin-left: 285px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}
.menu{
    list-style: none;
    display: flex;
}
.li-menu{
    margin-left: 60px;
}
.a-menu{
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.a-menu:hover{
    color: #01F5B2;
}
.a-menupc{
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.a-menupc:hover{
    color: skyblue;
}
.a-menups{
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.a-menuxb{
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.a-menunt{
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.a-menups:hover{
    color: #0098F5;
}
.a-menuxb:hover{
    color: greenyellow;
}
.a-menunt:hover{
    color: rgb(255, 107, 107);
}
#menu-list{
    width: 0px;
    height: 0px;
    visibility: hidden;
}
#menu-list.open{
    visibility: none;
}
#menu-button{
    visibility: hidden;
}
@media (max-width: 550px){
    .inicio_home{
        background-image: url(img/01med.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        text-align: center;
        height: 100vh;
        align-items: center;
    }
    .big_title{
        margin-top: 60px;
        font-size: 50px;
    }
    .slogan{
        margin-top: 30px;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;        
    }
    ::-webkit-scrollbar {
        visibility: hidden;
        width: 0;
    }
    .div-menu{
        visibility: hidden;
        -border: 1px red solid;
        width: 0PX;
        margin: 0px;
        max-width: 0%;
    }
    .razerbtnacess{
        border: 1px white solid;
        padding: 13px 30px;
        background-color: transparent;
        text-decoration: none;
        text-shadow: 3px 3px 5px black;
        margin-left: 0px;
        transition: 0.3s;
    }
    .menu{
        visibility: hidden;
        width: 0px;
        margin: 0px;
    }
    .li-menu{
        visibility: hidden;
        margin: 0px;
        transition: 0s;
    }
    .a-menu, .a-menupc, .a-menups, .a-menuxb, .a-menunt{
        visibility: hidden;
        font-size: 0px;
        transition: 0s;
    }
    #menu-list {
        display: none; 
        visibility: visible;
        width: 100px;
        height: 100px;
        margin: 0px;
    }
      
    #menu-list.open {
        display: flex; 
        visibility: visible;
        margin-top: 16px;
        margin-left: -55px;
        list-style: none;
        height: 20px;
    }
    #menu-list.open li{
        margin-left: 15px;
    }
    #menu-list.open a{
        color: white;
        text-decoration: none;
        font-size: 10px;        
    }
    #menu-button{
        margin: 20px 10px;
        visibility: visible;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 12px;
        max-height: 20px;        
    }
}
@media (min-width:551px) and (max-width: 1025px){
    .div-menu{
       margin-left: 17px;
       max-width: 79%;
    }
    .li-menu{
      margin-left: 33px;
    }
    .slogan{
        text-shadow: 3px 3px 5px black;
        margin-top: 50px;
        padding-bottom: 30px;
        font-size: 22px;   
    }
    ::-webkit-scrollbar {
        width: 0;          
    }
    
}