body, html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-x: hidden;
    word-wrap: break-word;
    width: 100%;
    max-width: 100vw;
}
@media (min-width: 1025px){
    .logotipo{
        width: 50px;
        margin: 1.4% 5%;
    }
}
@media (max-width: 1024px){
    .logotipo{
        width: 50px;
        margin: 1.4% 5%;
    }
}
@media (max-width: 550px){

}